<div class="welcome">
    <section class="start-section">
        <div class="bg-video">
        </div>
        <div class="logo"></div>
        <div class="start-content">
            <div id="model"></div>
        </div>
    </section>
    <section class="play-section">
        <p>Сubway Surfers in a clone of the well known Subway Surfers game. The are a lot of unique 3d models, environments, trains, holes and of course coins. it will by fun. Play enjoy and raise yor score!</p>
        <button routerLink="/loader">Let's go!</button>
    </section>
    <section class="feat-section">
        <div class="feat-box">
            <div class="feat-img">
                <img src="assets/feat-models.png" class="feat-img-house" alt="">
            </div>
            <div class="feat-text">
                Unique 3D models in voxel style.
            </div>
        </div>
        <div class="feat-box feat-invert">
            <div class="feat-text skin-text" style="text-align: right;">
                Skins and purchases system.
            </div>
            <div class="feat-img">
                <img src="assets/feat-skins.png" alt="" class="feat-img-man">
            </div>
        </div>
    </section>
    <section class="controls-section">
        <h2>Controls</h2>
        <div class="tech-logos">
            <img src="assets/keys_optimized.jpg" alt="">
        </div>
    </section>
    <section class="technologies-section">
        <h2>Technologies</h2>
        <div class="tech-logos">
            <img src="assets/firebase-logo.png" alt="">
            <img src="assets/three-js-logo.png" alt="">
            <img src="assets/angular-logo.png" alt="">
        </div>
    </section>
    <section class="team-section">
        <h2>Team</h2>
        <div class="tech-logos">
            <div class="team-name name">
                <div class="feat-text" style="text-align: right;">
                    Владимир<br> Миронов
                </div>
                <img class="dotted" src="assets/vova.jpg" alt="">
            </div>
            <div class="team-name name">
                <div class="feat-text" style="text-align: right;">
                    Андрей<br> Якименко
                </div>
                <img class="dotted" src="assets/andrei.jpg" alt="">
            </div>
            <div class="team-name name">
                <div class="feat-text" style="text-align: right;">
                    Павел<br> Васильев
                </div>
                <img class="dotted" src="assets/pasha.jpeg" alt="">
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-git">
            <div class="feat-text" style="text-align: right;">
                <a href="" target="_blank">Владимир<br> Миронов</a>
            </div>
            <div class="feat-text" style="text-align: right;">
                <a href="" target="_blank">Андрей<br> Якименко</a>
            </div>
            <div class="feat-text" style="text-align: right;">
                <a href="" target="_blank">Павел<br> Васильев</a>
            </div>
        </div>
        <a class="footer-logo" href="https://rs.school/js/" target="_blank"><img src="assets/rs_school_js.svg"
                alt=""></a>

    </footer>
</div>