<div id="menu-background"></div>
<div class="menu-outer">
    <div id="logo"></div>
    <div class="stats">
        <div id="coins" *ngIf="user"><div class="coin-icon"></div> {{ user.coins }} </div> <div id="coins" *ngIf="user"><div class="crown-icon"></div> {{ user.highScore }} </div>
    </div>
    <div class="menu-inner">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="hi">
    <!-- <p>Cubway surfers by @zidiks, @AndreiYa, @pavelgitvasilev</p> -->
    <div id="hi-play">
      <div class="btn"></div>
    </div>
</div>
<div *ngIf="!STATES.loaded" id="game-loading" [style.background-image]="'url(' + loadedImgs[2].src + ')'">
    <div class="loading-box" [style.background]="'linear-gradient(to right, rgb(90, 184, 247)' +  STATES.loadProgress + '%, white ' + STATES.loadProgress + '% 100%)'">
        <div id="loading-progress"> {{ STATES.loadProgress }}% </div>
    </div>
</div>
