.menu-outer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    #logo {
        background-image: url('../../assets/UI/logo.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 10rem;
        height: 4rem;
        z-index: 1000;
    }
    .menu-inner {
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        z-index: 1000;
    }
    .stats{
        z-index: 1000;
        margin: 1rem 0;
        background: rgba($color: #000000, $alpha: 0.3);
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        #coins {
            color: gold;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            font-family: Arial, Helvetica, sans-serif;
            .coin-icon {
                background-image: url('../../assets/UI/money.svg');
                width: 1.5rem;
                height: 1.5rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 0.5rem;
            }
            .crown-icon {
                background-image: url('../../assets/UI/crown.svg');
                width: 1.7rem;
                height: 1.7rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-left: 1.2rem;
                margin-right: 0.5rem;
            }
        }
    }
}
#menu-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
#hi {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1100;
    #hi-play {
        cursor: pointer;
    }
}
