@import '~normalize.css';

html,
body{
    width: 100%;
    height: 100%;
}
body {
  overflow-x: hidden;

}
.end-game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}

* {
    user-select: none;
}

.stat-wrapper {
   perspective-origin: 0 30%;
   perspective: 300px;
   position: absolute;
  top: 50%;
  left: 50%;
  // background-color: black;
  transform: translate(-60%, 0);
   border-radius: 10em;
}

.end-stat {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4rem;
  width: 400px;
  height: 250px;
  border: 15px solid;
  background-color: white;
  color: black;
  text-align: center;
   border-image-slice: 1;
   border-width: 15px;
   border-image-source: linear-gradient(to top, #ffae00, #ff0000);
  // border-radius: 10em;
  transform: rotateY(-15deg);
  display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4rem;
}

.end-game-btn {
  border: 5px solid black;
  padding: 15px;
  cursor: pointer;
}
.end-game-btn:hover {
  box-shadow: 5px 5px 1px;
}
.end-active-link {
  box-shadow: 5px 5px 1px;
}

.crown-wrapper {
  padding: 1rem 0;
}
