.shop {
    width: 100%;
    perspective: 500px;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    .shop-links {
        transform-origin: left;
        transition: .4s;
        transform: rotateY(40deg);
        display: flex;
        flex-direction: column;
        .shop-content {
            text-shadow: 1px 1px 1px black;
            font-family: 'Press Start 2P', cursive;
            font-size: 2rem;
            color: black;
            margin: 0.5rem 0;
            text-decoration: none;
            transition: .3s;
            width: 18rem;
            #skin-name {
                text-decoration: underline;
                color: orange;
            }
            .skin-slide {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                .slide-btn {
                    cursor: pointer;
                }
                .slide-price {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                .coin-icon {
                    background-image: url('../../../assets/UI/money.svg');
                    width: 2rem;
                    height: 2rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    margin-right: 1rem;
                }
            }
            .skin-action {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                min-height: 2.2rem;
                .action-btn {
                    cursor: pointer;
                    margin: 0 1rem;
                }
            }
        }
        .shop-link {
            text-shadow: 1px 1px 1px black;
            font-family: 'Press Start 2P', cursive;
            font-size: 2rem;
            color: black;
            margin: 0.5rem 0;
            text-decoration: none;
            transition: .3s;
        }
        .shop-active-link {
            color: gold !important;
            transform: scale(1.1);
        }
    }
}